.floating-label-wrapper {
  box-sizing: border-box;
  border: 1px solid #ddd;
  position: relative;
  display: inline-block;
  background-color: #fff;
}

.floating-label-wrapper input {
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  box-shadow: none;
  padding: var(--input-padding-y) var(--input-padding-x);
  border-radius: inherit;
}

.floating-label-wrapper input::placeholder {
  color: transparent;
}

.float-label-wrapper--focus {
  border-color: var(--active-color);
}

.float-label-wrapper--focus input::placeholder {
  color: var(--floating-label-color);
}

.floating-label {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(0, 0);
  padding-left: var(--input-padding-x);
  font-size: var(--floating-label-font-size);
  background-color: inherit;
  /* border-radius: inherit;
  height: 100%;
  width: 100%; */
  color: var(--floating-label-color, #000);
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0, var(--input-padding-y));
  transform-origin: left top;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.floating-label--float {
  transform: translate(var(--floating-label-padding-left), -50%);
  display: inline-block;
  height: auto;
  color: var(--active-color);
  font-size: var(--floating-label-font-size--floating);
  padding: 0 3px;
  width: auto;
}
